header {
  background: #ffff;
  height: 70px;
  width: 100%;
  border-bottom: 1px solid #cccccc;
  display: flex;
  justify-content: left;
  align-items: center;
}

header .logo {
  background: url("../images/logo.png") center no-repeat;
  margin: 0 0 0 20px;
  height: 60px;
  width: 142px;
}
